# Core functionality - changes here should be rare!
/src/app.py                   @KALDYBAKYZY
/src/backend/database.py      @KALDYBAKYZY
/src/backend/routers/auth.py  @KALDYBAKYZY

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KALDYBAKYZY
